.chat-button {

position: fixed;

right: 30px;

bottom: 30px;

width: 75px;

height: 75px;

border-radius: 50%;

border: none;

font-size: 35px;

background: #2563eb;

color: white;

cursor: pointer;

box-shadow: 0 5px 20px rgba(0,0,0,0.3);

}



.chat-box {

position: fixed;

right: 30px;

bottom: 120px;

width: 350px;

height: 450px;

background: white;

border-radius: 15px;

box-shadow: 0 5px 25px rgba(0,0,0,0.3);

padding: 15px;

}



.chat-header {

display:flex;

justify-content:space-between;

font-weight:bold;

}



.messages {

height:300px;

overflow-y:auto;

}



input {

width:100%;

padding:10px;

}